#me:hover{
	 display: block;
    margin: auto;
    border-radius: 8px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.background{
	  /*background-image: url("../img/portfolio/fullsize/hatranCar.png");*/
    background-image: url("../img/portfolio/fullsize/hatranedit.png");
    background-size: cover;
    background-attachment: fixed;
	}

.weather{
  background-image: url("../img/portfolio/fullsize/MaggieLakeWeather.png");
}

.fontcolor{
	color: #696969;
	text-shadow: 1px 1px #00bfff;
}

.buttoncolor{
	background-color: #00ced1;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.backgroundColor{
	background: linear-gradient(to bottom right, #00ced1, #3db9e9);	
}

.grayColor{
	background: linear-gradient(to bottom right, #F0F8FF, 	#F0FFFF);	
}

.icon{
	margin-right: 1em;
  box-shadow: 5px 5px grey;

}

.place{
	  float: left;
}

.little{
	width:60px;
	border-radius:50%
}

.colorChange {
  animation: pulse 5s infinite;
}

@keyframes pulse {
	0%{
	background-color: #696969;
	}
  50% {
    background-color: #00ced1;
  }
  100% {
    background-color: ##3db9e9;
  }
}

.proj {
  animation: 
 /*   pulse 3s ease infinite alternate, */
    nudge 5s linear infinite alternate;
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(150px, 0);
  }
  
  80% {
    transform: translate(-150px, 0);
  }
}

.box {
  background: ##00ced1;
  border-radius: 6px;
  cursor: pointer;
  /*height: 95px;*/
  /*line-height: 95px;*/
  text-align: center;
  transition-property: background, border-radius;
  transition-duration: 1s;
  transition-timing-function: linear;
  /*width: 95px;*/
  margin-left: .5em;
}
.box:hover {
  background: #696969;
  border-radius: 50%;
}

.rainier{
  position: relative;
  background-image: url("../img/rainier.png");
  background-size: cover;
  background-attachment: fixed;
 
}

.footer{
  display: block;
  text-align: center;
}

div.preview_pane{
  width: auto;
}
