@font-face {
       font-family: museo;
       src: url('../fonts/museo_sans_500.otf');
}

/*.navbar{
	min-height: 20px;
    margin-bottom: 1em;
	padding: .2em 1em;
}
.navbar-brand {
    font-size: 14px;
    font-weight: bold;
    height: 1em;
    line-height: 14px;
    padding: 5px 15px;
}
.navbar-nav > li > a {
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
}
*/